.letter {
  display: inline-block;
  width: 65px;
  height: 65px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.correct {
  background-color: var(--green);
}
.almost {
  background-color: var(--yellow);
  cursor: pointer;
}
.wrong {
  background-color: var(--darkgray);
  cursor: pointer;
}
.active {
  background-color: var(--lightgray);
}