:root {
  --black: #121212;
  /* wrong letters */
  --darkgray: #3A3A3A;
  /* icons */
  --medgray: #454545;
  /* active letters */
  --lightgray: #999999;
  /* correct letters */
  --green: #528A4C;
  /* almost letters */
  --yellow: #A39035;
  --orange: #C86C3A;
  --brown: #8A5E4C;
}

body {
  background-color: var(--black);
}